#page-partners {
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#page-partners::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.img-partners {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 920px) {
  #page-partners {
    height: 92vh !important;
  }

  .img-partners {
    height: 92vh !important;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.title-partners {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 75px;
  text-align: center;
}

.title-partners h2 {
  font-size: 30px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  padding: 0 60px 7px;
  position: relative;
  text-transform: uppercase;
}

.partners .inspire-btn {
  padding: 0 0 35px;
}

.partners .scrollBottom {
  cursor: pointer;
}

.partners a.inspire-btn.scrollButton {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 0;
  bottom: 50px;
}

.collection-partners {
  padding-top: 0px;
  padding-bottom: 30px;
}

.collection-partners .section-title p {
  width: 100%;
  text-align: justify;
  font-size: 15px;
  line-height: 22.5px;
}

.blockimplictions {
  padding-top: 0;
}

.text-partners {
  text-align: justify;
}