/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins", sans-serif;
}

p {
    line-height: 24px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #ffb03b;
}

a:hover {
    color: #ffc56e;
    text-decoration: none;
}

:root {
    --secondary: #e6007e;
    --primary: #82db35;
    --primary-light: #82db3526;
    --background: #eef6ff;
    --gray-light: #e2ecf4;
    --gray-dark: #6e8595;
    --gray-semantic: #596d7b;
    --light: #d9eafc;
    --gray: #d1d6e3;
    --dark: #39434d;
    --primary-dark: #6fb53b;
    --secondary-dark: #b91171;
    --white: #fff;
    --overlay: rgba(57, 67, 77, 0.75);
    --facebook: #3b55a0;
    --facebook-dark: #073d77;
    --orange: #ff9014;
    --in-progress: #009fe3;
    --yellow: #f6c136;
    --warning: #e29520;
    --info: #2e6fc1;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
}

.section-bg {
    background-color: white;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
}

.section-title h2 span {
    color: #ffb03b;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}