.destination-form {
    width: 100%;
    border-top: 3px solid #ffb03b;
    border-bottom: 3px solid #ffb03b;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.destination-form .form-group {
    padding-bottom: 8px;
}

.destination-form input,
.destination-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.destination-form input:focus,
.destination-form textarea:focus {
    border-color: #ffb03b;
    box-shadow: none;
}

.destination-form input[type=file] {
    height: auto;
}

.destination-form input {
    height: 44px;
}

.destination-form textarea {
    padding: 10px 12px;
}

.destination-form button[type=submit] {
    background: #5cb874;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.destination-form button[type=submit]:hover {
    background: #6ec083;
}